<template> 
<el-menu v-if="user_id !== ''" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" style="background-color:#f8f8f8;border-bottom:solid 1px #ffffff">

  <!-- <el-submenu index="4">
    <template slot="title">
          <i class="material-icons">account_balance_wallet</i>Wallet</template>
     
    <router-link :to="{name: 'IndexTopup'}" >
    <el-menu-item index="4-1">
      Topup
    </el-menu-item>
    </router-link>

    <router-link :to="{name: 'IndexTransferPay'}" >
    <el-menu-item index="4-2">
      Transfer / Pay
    </el-menu-item>
    </router-link>

    <router-link :to="{name: 'IndexRequest'}" >
    <el-menu-item index="4-3">
      Request Money
    </el-menu-item>
    </router-link>

  </el-submenu> -->

  <el-submenu index="2">
    <template slot="title"><i class="material-icons">apps</i>Aplikasi Muslimapp</template>
    <a :href="'https://donasi.muslimapp.id/?token='+token" target="_blank">
      <el-menu-item index="2-1">
        Donasi 
      </el-menu-item>
    </a>
    <a :href="'https://booking.muslimapp.id/?token='+token" target="_blank">
      <el-menu-item index="2-2">
        Booking Travel Haji & Umroh
      </el-menu-item>
    </a>
    <a :href="'https://store.muslimapp.id/?token='+token" target="_blank">
      <el-menu-item index="2-2">
        Islamic Product
      </el-menu-item>
    </a>
    <a :href="'https://aqiqah.muslimapp.id'" target="_blank">
      <el-menu-item index="2-3">
        Aqiqah
      </el-menu-item>
    </a>
    <a :href="'https://qurban.muslimapp.id'" target="_blank">
      <el-menu-item index="2-4">
        Qurban
      </el-menu-item>
    </a>
    <a :href="'https://news.muslimapp.id'" target="_blank">
      <el-menu-item index="2-5">
        News
      </el-menu-item>
    </a>
  </el-submenu>

  <el-submenu index="1">
    <template slot="title"><i class="material-icons">account_circle</i>{{ nama }} </template>
     
    <router-link :to="{name: 'IndexUser'}" >
    <el-menu-item index="1-1">
      Profil User
    </el-menu-item>
    </router-link>

    <!-- <router-link :to="{name: 'IndexSettingPin'}" >
    <el-menu-item index="1-4">
      Setting Pin
    </el-menu-item>
    </router-link> -->
    
    <router-link :to="{name: 'IndexTransaction'}" >
    <el-menu-item index="1-2">
      Histori Transaksi
    </el-menu-item>
    </router-link>

    <a href="/p/logout">
      <el-menu-item index="1-3">
          Logout
      </el-menu-item>
    </a>

  </el-submenu>
  
</el-menu>
</template>

<script>
  export default {
    data() {
      return {
        activeIndex: '1',
        user_id : [],
        token: [],
        nama : [],
        url: "user/index",
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      };
    },
    mounted()  {
      var app = this;
      app.getUser();
    },
    methods: {
      handleSelect(key, keyPath) {
      },
      getUser(data){
        var app = this;
        axios.get(app.url)
        .then(function(resp){
          app.user_id         = resp.data.user_id;
          app.token           = resp.data.token;
          app.nama            = resp.data.nama;
        })
        .catch(function(resp){
         
        })
      },
    }
  }
</script>