/*!
Template :	CryptoCoin @by Softnio
Preset   :	Default
Version	 :	1.0.1
Updated	 :	01.29.2018
*/
h1.color-secondary, h2.color-secondary, h3.color-secondary, h4.color-secondary, h5.color-secondary, h6.color-secondary, .h1.color-secondary, .h2.color-secondary, .h3.color-secondary, .h4.color-secondary, .h5.color-secondary, .h6.color-secondary { color: #36bc71; }
h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary, .h1.color-primary, .h2.color-primary, .h3.color-primary, .h4.color-primary, .h5.color-primary, .h6.color-primary { color: #36bc71; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { color: #36bc71; }

.heading-section.color-secondary { color: #36bc71; }
.heading-section.color-primary { color: #36bc71; }

.heading-sm-lead.color-primary, .heading-md-lead.color-primary { color: #36bc71; }
.heading-sm-lead.color-secondary, .heading-md-lead.color-secondary { color: #36bc71; }

.with-line::after { background-color: #36bc71; }

blockquote p:last-child strong { color: #36bc71; }

a { color: #36bc71; }
a:hover, a:focus, a:active { color: #36bc71; }

.color-primary { color: #36bc71; }

.color-secondary { color: #36bc71; }

.bg-primary { background: #36bc71; }

.bg-secondary { background: #36bc71; }

.bg-light-primary { background-color: rgba(247, 146, 26, 0.1); }

.bg-light-secondary { background-color: rgba(247, 146, 26, 0.1); }

.accordion .panel-title a { color: #36bc71; }
.accordion.filled .panel-title a { color: #36bc71; }

.icon-box { color: #36bc71; }
.icon-box.sqaure, .icon-box.round, .icon-box.circle { border-color: #36bc71; }
.icon-box.icon-bg { background-color: #36bc71; }
.icon-box.icon-bg-alt { background-color: #36bc71; }
.icon-box.light.icon-bg { color: #36bc71; }
.icon-box.style-s1, .icon-box.style-s2 { background-color: #36bc71; }
.icon-box.style-s2 { background-color: #36bc71; }
.icon-box.style-s3, .icon-box.style-s4 { border-color: #36bc71; color: #36bc71; }
.icon-box.style-s4 { border-color: #36bc71; color: #36bc71; }

.image-slice .section-bg:not(.section-bg-r):after { background: #36bc71; }
.image-slice .section-bg.section-bg-alt:not(.section-bg-r):after { background: #36bc71; }

.has-bg.bg-primary:after { background-color: #36bc71; }
.has-bg.bg-secondary:after { background-color: #36bc71; }

.tab-custom .nav-tabs li:last-child a { border-right-color: #36bc71; }
.tab-custom .nav-tabs li > a { border: 1px solid #36bc71; }
.tab-custom .nav-tabs li.active > a, .tab-custom .nav-tabs li.active > a:hover, .tab-custom .nav-tabs li.active > a:focus, .tab-custom .nav-tabs li > a:hover, .tab-custom .nav-tabs li > a:focus { background: #36bc71; border-color: #36bc71; }

.feature-intro a.btn-link { color: #36bc71; }

.owl-dots .owl-dot { border: 1px solid #36bc71; }
.owl-dots .owl-dot.active { background: #36bc71; }

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next { color: #36bc71; opacity: 1; }
.owl-theme .owl-nav .owl-prev:hover, .owl-theme .owl-nav .owl-next:hover { background: #36bc71; }

.copyright .social li a:hover, .copyright .social li a:focus { color: #36bc71; }

.pagination li.active a { background: #36bc71; border-color: #36bc71; }
.pagination li a { color: #36bc71; }
.pagination li a:hover, .pagination li a:focus { background: #36bc71; border-color: #36bc71; }

.site-header .quote-btn .btn { background-color: #36bc71; border: 2px solid #36bc71; }
.site-header .quote-btn .btn:hover { border-color: #36bc71; color: #36bc71; }

.topbar .social li a:hover { color: #36bc71; }

.top-nav a:hover, .top-nav a:focus { color: #36bc71; }

.top-contact .fa { border: 1px solid #36bc71; color: #36bc71; }
.top-contact a:hover { color: #36bc71; }

.header-top .social li a { color: #36bc71; }
.header-top .social.social-s2 li a { background: #36bc71; border: 1px solid #36bc71; }

.social.social-s2 li a { background: #36bc71; border: 1px solid #36bc71; }
.social.social-s2 li a:hover { color: #36bc71; }
.social.social-v2 li { border: 1px solid #36bc71; }

.navbar-nav > li.active > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus { color: #36bc71; background: transparent; }
.navbar-nav .dropdown-menu li:hover > a { color: #36bc71; }
.navbar-nav .dropdown-menu li:hover.has-children:after { border-left-color: #36bc71; }
.navbar-nav .dropdown-menu.active > a, .navbar-nav .dropdown-menu li > a:hover, .navbar-nav .dropdown-menu li > a:focus { color: #36bc71; }
.navbar-nav .dropdown-menu > .active > a, .navbar-nav .dropdown-menu > .active > a:focus, .navbar-nav .dropdown-menu > .active > a:hover { color: #36bc71; }

.site-header.is-transparent .topbar a:not(.btn):hover { color: #36bc71; }
.site-header.is-transparent .topbar .social li a { color: #36bc71; }
.site-header.is-transparent .dropdown-menu li:hover.has-children:after { border-left-color: #36bc71; }
.site-header.is-transparent.has-fixed .navbar-nav > li.active > a, .site-header.is-transparent.has-fixed .navbar-nav > li > a:hover, .site-header.is-transparent.has-fixed .navbar-nav > li > a:focus { color: #36bc71; }
.site-header.is-transparent.has-fixed .navbar-nav > li > a .navbar-nav > li > a:not(.btn)::after { background-color: #36bc71; }
.site-header.header-dark .topbar { background: #ef8608; color: #fff; }
.site-header.header-dark .topbar .icon, .site-header.header-dark .topbar .fa, .site-header.header-dark .topbar a:hover { color: #36bc71; }
.site-header.header-dark .navbar { background: #36bc71; }
.site-header.header-s2 .navbar-nav li:hover > a { background: #36bc71; }
.site-header.header-s2 .navbar-nav li a:hover, .site-header.header-s2 .navbar-nav li a:focus { background: #36bc71; }
.site-header.header-s2 .navbar-nav li.active > a { background: #36bc71; }
.site-header.header-s2 .navbar-nav li.quote-btn .btn { background: #36bc71; border-color: #36bc71; }
.site-header.header-s2 .navbar-nav li.quote-btn .btn:hover { border-color: #cd7207; background: #cd7207; }
.site-header.header-s2 .navbar-nav .dropdown-menu li:hover > a { color: #36bc71; }
.site-header.header-s2 .navbar-nav .dropdown-menu li a:hover { color: #36bc71; }
.site-header.header-s2 .navbar-nav .dropdown-menu .active a:hover, .site-header.header-s2 .navbar-nav .dropdown-menu .active a:focus { color: #36bc71; }
.site-header.header-s2 .navbar-collapse ul.nav { background: #E0600C; }

.breadcrumb li:not(.active) a:hover { color: #36bc71; }

@media only screen and (max-width: 991px) { .navbar-toggle { background-color: #36bc71; }
  .navbar-header { background: #36bc71; }
  .navbar-nav li .dropdown-menu li a:hover, .navbar-nav li .dropdown-menu li a:focus { color: #36bc71; }
  .navbar-nav li .dropdown-menu > .active > a, .navbar-nav li .dropdown-menu > .active > a:hover, .navbar-nav li .dropdown-menu > .active > a:focus { color: #36bc71; }
  .navbar-nav > li.active a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus { color: #36bc71; }
  .site-header .navbar-collapse { color: #36bc71; }
  .site-header.is-transparent .navbar-nav > li.active > a, .site-header.is-transparent .navbar-nav > li > a:hover, .site-header.is-transparent .navbar-nav > li > a:focus { color: #36bc71; }
  .site-header.header-s2 .top-bar-wrap { border-bottom: 1px solid #fff1e0; }
  .site-header.header-s2 .navbar-collapse ul.nav { background: #fff; } }
.wgs-box a:hover, .wgs-box a:focus { color: #36bc71; }
.wgs-box .wgs-search .form-group .search-btn:hover { color: #36bc71; }
.wgs-box .tag-list li a:hover { border-color: #36bc71; }

.sidebar-right a:hover, .sidebar-right a:focus { color: #36bc71; }

.btn { border: 2px solid #36bc71; background-color: #36bc71; }
.btn:hover, .btn:focus { border-color: #36bc71; }
.btn.btn-alt { background: #36bc71; border-color: #36bc71; }
.btn.btn-alt:hover, .btn.btn-alt:focus { border-color: #36bc71; }
.btn.btn-outline:hover, .btn.btn-outline:focus { background: #36bc71; border-color: #36bc71; }
.btn.btn-outline.btn-alt:hover, .btn.btn-outline.btn-alt:focus { color: #36bc71; }
.btn.btn-outline.btn-light:hover, .btn.btn-outline.btn-light:focus { background: #36bc71; border-color: #36bc71; }
.btn.btn-outline.btn-light.btn-alt:hover, .btn.btn-outline.btn-light.btn-alt:focus { background: #36bc71; border-color: #36bc71; }
.btn.btn-outline.btn-color { color: #36bc71; border-color: #36bc71; }
.btn.btn-outline.btn-color:hover, .btn.btn-outline.btn-color:focus { background: #36bc71; border-color: #36bc71; }
.btn.btn-outline.btn-color.btn-alt:hover, .btn.btn-outline.btn-color.btn-alt:focus { background: #36bc71; border-color: #36bc71; }
.btn.btn-light:not(.btn-outline) { color: #36bc71; }
.btn.btn-light:not(.btn-outline):hover, .btn.btn-light:not(.btn-outline):focus { background: #36bc71; border-color: #36bc71; }
.bg-primary .btn.btn-light:not(.btn-outline):hover, .bg-primary .btn.btn-light:not(.btn-outline):focus { background: #36bc71; border-color: #36bc71; }
.btn.btn-light:not(.btn-outline).btn-alt { color: #36bc71; }
.btn.btn-light:not(.btn-outline).btn-alt:hover, .btn.btn-light:not(.btn-outline).btn-alt:focus { background: #36bc71; border-color: #36bc71; }
.bg-secondary .btn.btn-light:not(.btn-outline).btn-alt:hover, .bg-secondary .btn.btn-light:not(.btn-outline).btn-alt:focus { background: #36bc71; border-color: #36bc71; }

.btn-link { color: #36bc71; }
.btn-link:hover { color: #36bc71; }

.btn-icon { background: #36bc71; }

.box.box-alt-bg { background: #fff1e0; }
.box.box-small-dot:hover { background: #36bc71; }
.box.box-small-dot .font-icon:before { background: #36bc71; }

.box-alt .pe { color: #36bc71; }
.box-alt.box-dot .image-icon:before { background: #36bc71; }

.tab-custom .active .box-alt h5 { color: #36bc71; }

.box-side-icon .pe { color: #36bc71; }

.box-miner h4, .box-miner .box-miner-title { background: #36bc71; }
.box-miner .box-miner-action { background: rgba(247, 146, 26, 0.02); }
.box-miner .box-miner-action:hover { background: #36bc71; }

.pricing-box { background: #fff1e0; }
.pricing-box.highlited { background: #36bc71; }
.pricing-box .pricing-sap:before { background: #36bc71; }
.pricing-box .pricing-sap:after { background: #36bc71; }

.text-block h2 span { color: #36bc71; }
.text-block ul li:before { color: #36bc71; }

.icon-block ul li:before { color: #36bc71; }

.video-block .video-play { background: #36bc71; }
.video-block .video-play:hover, .video-block .video-play:focus { color: #36bc71; }

.team-member .team-thumb .team-social li a:hover { color: #36bc71; border-color: #36bc71; }
.team-member:hover .team-info { background: #36bc71; }
.team-member .team-info .team-name { color: #36bc71; }

.testimonial-item .client-photo .fa { color: #36bc71; }
.testimonial-item.testimonial-s2 .client-photo { border-color: #36bc71; }

.blog-post .post-entry h5 a:hover { color: #36bc71; }

.post-single ul li:before { color: #36bc71; }

.steps .step-number { background: #36bc71; }

.active .steps h4 { color: #36bc71; }

.cta-small { background: #36bc71; }

.contact-information .contact-entry h6 span { color: #36bc71; }
