/*
    Widgets CSS Muslimapp.id
    Copyright muslimapp @2019
*/

.padding-row {
    padding : 10px
}

.vertical-img {
    vertical-align : middle !important;
    border-radius: 5px;
    box-shadow: 2px 2px 6px;
    display:inline-block;
    line-height:7px;
    transform: rotate(90deg);
}

.img-vertical {
    height: 300px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.horizontal-img {
    vertical-align : middle;
    border-radius: 5px;
    box-shadow: 2px 2px 6px;
    display:inline-block;
    line-height:7px;
}

.img-horizontal {
    height: 300px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}