<template>
  <v-app id="inspire" style="background:none">
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md6>

            <v-card class="elevation-12">
              <v-form
                    ref="form"
                    v-on:submit.prevent="saveTransferBank()"
                    v-model="valid"
                    lazy-validation
               >
                <v-card-text>
                    <h4>Top Up | Transfer Bank</h4>
                    <p>Rincian Pembayaran</p>
                    <div class="text-xs" style="text-align:center">
                        <h6><b>Order ID #{{order_id}}</b></h6>
                        Transfer sejumlah saldo ke rekening berikut :
                        <v-spacer></v-spacer>
                        
                        <div v-if="bank_id == 1">
                            <img :src="muamalat">
                        </div>
                        <div v-if="bank_id == 2" >
                            <img :src="mandiri">
                        </div>
                        <div v-if="bank_id == 3" >
                            <img :src="bnisyariah">
                        </div>
                        
                        <h4 id="noRekening">{{ no_rek }}</h4>
                        <v-btn @click="salin('#noRekening')" outline color="success">Copy</v-btn>
                        <v-spacer></v-spacer>
                        
                        <div style="margin-top:20px;">Total Pembayaran :</div>
                        <b style="margin-left:-85px">Rp.</b>
                        <h4 id="Saldo">{{ formatPrice(saldo) }}</h4>
                        <v-btn @click="salin('#Saldo')" outline color="success">Copy</v-btn>
                        <v-spacer></v-spacer>
                        <br/>
                        <p class="mb-0" style="font-size:1rem">
                            Lakukan Pembayaran Maks 1x24 Jam dan Lakukan Konfirmasi Pembayaran dengan
                            Memasukkan Order ID <b>{{order_id}}</b>, Jika Pembayaran Belum Dilakukan Maka Kami Anggap Dibatalkan dan Lakukan Order Topup Kembali. <br/>
                            <v-layout row justify-center>
                                <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="primary" dark v-on="on">Payment Guide</v-btn>
                                </template>
                                <v-card>
                                    <v-toolbar dark color="primary">
                                    <v-btn icon dark @click="dialog = false">
                                        <v-icon>close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title>Panduan Pembayaran</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    </v-toolbar>
                                        <v-expansion-panel v-model="panel" focusable expand>
                                            <v-expansion-panel-content>
                                            <template v-slot:header>
                                                <div><b>Melalui transfer ATM</b></div>
                                            </template>
                                            <v-card>
                                                <v-card-text class="grey lighten-3">
                                                    1. Silahkan pilih Bayar/Beli <br/>
                                                    2. Kemudian pilih Lainnya > Lainnya > Multi Payment <br/>
                                                    3. Silahkan masukkan kode perusahaan 70012 dan pilih Benar <br/>
                                                    4. Masukkan kode bayar dengan nomor Virtual Account Anda (contoh: 7001202001539202) dan klik Benar <br/>
                                                    5. Jangan lupa untuk memeriksa informasi yang tertera pada layar. Pastikan Merchant adalah DomaiNesia dan total tagihan sudah benar. Jika benar, tekan angka 1 dan pilih Ya
                                                    6. Periksa layar konfirmasi dan pilih Ya
                                                </v-card-text>
                                            </v-card>
                                            </v-expansion-panel-content>

                                            <v-expansion-panel-content>
                                            <template v-slot:header>
                                                <div><b>Melalui Transfer mBanking</b></div>
                                            </template>
                                            <v-card>
                                                <v-card-text class="grey lighten-3">
                                                    1. Silahkan login ke mobile banking Anda.<br/>
                                                    2. Klik <b>"Icon Menu"</b> di sebelah kiri atas. <br/>
                                                    3. Pilih menu <b>"Pembayaran"</b> <br/>
                                                    4. Pilih buat <b>"Pembayaran Baru"</b> <br/>
                                                    5. Pilih <b>"Multi Payment"</b> <br/>
                                                    6. Klik <b>"Penyedia Jasa"</b> atau <b>"Service Provider"</b>,  kemudian pilih kode perusahaan, contoh:  <b>"Midtrans 70012"</b> <br/>
                                                    7. Pilih <b>"No. Virtual"</b> <br/>
                                                    8. Masukkan nomor Virtual Account Anda dengan kode perusahaan (contoh 7001202001287578), kemudian pilih <b>"Tambah &nbsp;&nbsp;&nbsp;&nbsp;Sebagai Nomor Baru"</b> <br/>
                                                    9. Masukkan nominal lalu pilih <b>"Konfirmasi"</b> dan <b>"lanjut"</b> <br/>
                                                    10. Selanjutnya akan muncul tampilan konfirmasi pembayaran. Pastikan semua informasi dan total tagihan sudah benar. Jika &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sudah benar, lalu scroll ke bawah  dan pilih "Konfirmasi" <br/>
                                                    11. <b>Masukkan PIN Anda</b> dan pilih <b>"OK"</b> <br/>
                                                    12. Sampai pada tahap ini, berarti transaksi dengan menggunakan VA telah berhasil dilakukan.
                                                </v-card-text>
                                            </v-card>
                                            </v-expansion-panel-content>

                                            <v-expansion-panel-content>
                                            <template v-slot:header>
                                                <div><b>Melalui Internet Banking</b></div>
                                            </template>
                                            <v-card>
                                                <v-card-text class="grey lighten-3">
                                                    1. Login ke website Mandiri Online dengan memasukkan user ID dan PIN <br/>
                                                    2. Pilih menu <b>"Pembayaran"</b> <br/>
                                                    3. Pilih menu <b>"Multi Payment"</b> <br/>
                                                    4. Silahkan pilih <b>"No Rekening Anda"</b> <br/>
                                                    5. Pilih <b>"Penyedia Jasa"</b>, contoh: <b>"Midtrans 70012"</b> <br/>
                                                    6. Pilih <b>"No Virtual Account"</b> <br/>
                                                    7. Masukkan <b>"Nomor Virtual Account"</b> <br/>
                                                    8. Masuk ke halaman konfirmasi 1 <br/>
                                                    9. Apabila sudah sesuai, klik <b>"Tagihan Total"</b>, kemudian <b>"Lanjutkan"</b> <br/>
                                                    10. Masuk ke halaman konfirmasi 2 <br/>
                                                    11. Masukkan Challenge Code yang dikirimkan ke Token Internet Banking Anda, kemudian <b>"Kirim"</b>
                                                    Anda akan masuk ke <br/>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;halaman konfirmasi jika pembayaran telah selesai
                                                </v-card-text>
                                            </v-card>
                                            </v-expansion-panel-content>

                                        </v-expansion-panel>
                                </v-card>
                                </v-dialog>
                            </v-layout>
                        </p>
                        <br/>
                        <v-btn outline href="https://payments.muslimapp.id" color="primary" target="blank">Confirm Payment &nbsp;<i class="fa fa-check-circle"></i></v-btn>
                        <v-btn outline :to="{name: 'IndexTransaction'}" color="success" dark >Already Paid &nbsp;<i class="fa fa-check-circle"> </i></v-btn>
                    </div>
                </v-card-text>
              </v-form>
              <br/>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
    data: function() {
      return {
        valid       : true,
        url         : '/topup/rincian/transferbank',
        order_id    : '',
        muamalat    : './icons@/muamalat.png',
        mandiri     : './icons@/mandiri 120.png',
        bnisyariah  : './icons@/bni.png',
        bank_id     : '',
        no_rek      : '',
        saldo       : '',
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false,
        panel: [true, false, false]
      }
    },
    beforeCreate() {
      if (localStorage.getItem('reloaded')) {
          localStorage.removeItem('reloaded');
      } else {
          localStorage.setItem('reloaded', '1');
          location.reload();
      }
    },
    mounted()  {
     var app = this;
      app.getResults();
    },
    methods: {
      getResults() {
        var app = this;
        axios.get(app.url)
        .then(function(resp){
          app.order_id   = resp.data.order.order_id;
          app.bank_id    = resp.data.order.bank_id;
          app.no_rek     = resp.data.bank.no_rek_bank;
          app.saldo      = resp.data.order.saldo;
        })
        .catch(function(resp){
         
        })
      },
      formatPrice(value) {
          let val = (value/1).toFixed(0).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      salin(element) {
          var $temp = $("<input id='tmp'>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.attr('type','hidden');
      }
    },
}
</script>
