<template>
  <v-app id="inspire" style="background:none">
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md6>

            <v-card class="elevation-12">
              <v-card-text>
                <h4>Top Up</h4>
                <p>Silahkan pilih metode untuk melakukan Top Up</p>
                <router-link :to="{name: 'IndexTransferBank'}" >
                  <v-alert :value="true" class="success" style="margin-bottom:10px;background-color:#36bc71 !important">
                      <img :src="photo_trf">
                      Transfer Bank
                  </v-alert>
                </router-link>

                <router-link :to="{name: 'IndexTransferVA'}" >
                  <v-alert :value="true" class="success" style="margin-bottom:10px;background-color:#36bc71 !important">
                      <img :src="photo_va">
                      Virtual Account (VA)
                  </v-alert>
                </router-link>
                
                <!-- <span @click="snackbar = true">
                  <v-alert :value="true" class="success" style="margin-bottom:10px;background-color:#36bc71 !important">
                      <img :src="photo_setor">
                      Setor Tunai
                  </v-alert>
                 </span> -->

                <router-link :to="{name: 'IndexTransaction'}" >
                  <v-alert :value="true" class="success" style="margin-bottom:10px;background-color:#36bc71 !important">
                      <img :src="photo_riwayat">
                      Riwayat Topup Wallet
                  </v-alert>
                 </router-link>

                <v-snackbar
                  v-model="snackbar"
                  :bottom="y === 'bottom'"
                  :left="x === 'left'"
                  :multi-line="mode === 'multi-line'"
                  :right="x === 'right'"
                  :timeout="timeout"
                  :top="y === 'top'"
                  :vertical="mode === 'vertical'"
                >
                  {{ text }}
                  <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false"
                  >
                    Close
                  </v-btn>
                </v-snackbar>
              </v-card-text>

              <v-card-actions>
              </v-card-actions>
            </v-card>
            
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
    data: function() {
      return {
        photo_trf     : './icons@/Transfer Bank icon.png',
        photo_va      : './icons@/Virtual Account icon.png',
        photo_setor   : './icons@/Setor Tunai Icon.png',
        photo_riwayat : './icons@/Riwayat Top Up Icon.png',
        snackbar: false,
        y: 'top',
        x: null,
        mode: '',
        timeout: 6000,
        text: 'Sorry, This Feature is Coming Soon'
      }
    }
}

</script>
