<template>
  <v-app id="inspire" style="background:none">
      <v-dialog v-model="confirmdialog" persistent max-width="300px">
      <v-form
            ref="cekvalidToken"
            v-model="validToken"
            v-on:submit.prevent="getValidPIN()"
            lazy-validation
        >
      <v-card>
        <v-card-title>
          <span class="headline">
            Masukkan PIN
          </span>
        </v-card-title>
        <v-card-text>
              <v-flex xs12>
                <v-text-field label="PIN*" type="password" v-model="PIN" required autofocus maxlength='4'></v-text-field>
              </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="confirmdialog = false">Close</v-btn>
          <v-btn type="submit" color="green darken-1" flat >Confirm</v-btn>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-dialog>

    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md6>

            <v-card class="elevation-12">
              <v-form
                    ref="form"
                    v-on:submit.prevent="validTransferBank()"
                    v-model="valid"
                    lazy-validation
               >
                <v-card-text>
                    <h4>Top Up | Transfer Bank</h4>
                    <p>Top Up Wallet menggunakan Transfer Bank yang secara otomatis akan masuk ke Wallet anda</p>
                    <v-text-field
                    v-model="saldo"
                    :rules="saldoRules"
                    label="Masukkan Saldo"
                    type="number"
                    required
                    ></v-text-field>
                    <div class="text-xs" style="text-align:center">
                        <v-btn
                        @click="loader(25000)"
                        >
                        25.000
                        </v-btn>
                        <v-btn
                        @click="loader(50000)"
                        >
                        50.000
                        </v-btn>
                        <v-btn
                        @click="loader(100000)"
                        >
                        100.000
                        </v-btn>
                        <v-btn
                        @click="loader(500000)"
                        >
                        500.000
                        </v-btn>
                        <v-btn
                        @click="loader(1000000)"
                        >
                        1.000.000
                        </v-btn>
                    </div>
                    <br/><br/>
                    <div class="text-xs">
                        <h6>Pilih Bank</h6>
                        <v-radio-group v-model="selectedbank" :rules="bankRules" required>
                            <div v-for="allbank in allbanks['TF']" :key="allbank.value">
                                <div v-for="bank in allbank" :key="bank.value">
                                    <div v-if="bank == 1">
                                        <v-radio v-bind:value="bank"></v-radio>
                                        <img :src="muamalat" style="margin-left: 30px;margin-top: -40px;">
                                    </div>
                                    <div v-if="bank == 2" >
                                        <v-radio v-bind:value="bank"></v-radio>
                                        <img :src="mandiri" style="margin-left: 30px;margin-top: -55px;">
                                    </div>
                                    <div v-if="bank == 3" >
                                        <v-radio v-bind:value="bank"></v-radio>
                                        <img :src="bnisyariah" style="margin-left: 35px;margin-top: -44px;">
                                    </div>
                                </div>
                            </div>
                        </v-radio-group>
                    </div>
                </v-card-text>
                <v-card-actions style="text-align:right">
                    <v-spacer></v-spacer>
                    <v-btn :to="{name: 'IndexTopup'}" color="error" round dark >
                            <v-icon dark left>arrow_back</v-icon> Back
                    </v-btn>
                    <v-btn type="submit" color="success" round dark >Confirm &nbsp;<i class="fa fa-check-circle"> </i></v-btn>
                </v-card-actions>
              </v-form>
              <br/>
            </v-card>
            
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
    data: function() {
      return {
        valid      : true,
        validToken : true,
        PIN        : '',
        confirmdialog : false,
        url        : 'topup/transferbank',
        saldo      : '',
        saldoRules : [
            v => !!v || 'This Field is required',
        ],
        allbanks    : [],
        bankRules : [
            v => !!v || 'This Field is required',
        ],
        muamalat    : './icons@/muamalat.png',
        mandiri     : './icons@/mandiri 120.png',
        bnisyariah  : './icons@/bni.png',
        selectedbank: '',
      }
    },
    beforeCreate() {
      if (localStorage.getItem('reloaded')) {
          localStorage.removeItem('reloaded');
      } else {
          localStorage.setItem('reloaded', '1');
          location.reload();
      }
    },
    mounted()  {
     var app = this;
      app.getResults();
    },
    methods: {
      validTransferBank() {
        if (this.$refs.form.validate()) {
          this.confirmdialog = true;
        }
      },
      getResults() {
        var app = this;
        axios.get(app.url)
        .then(function(resp){
          app.allbanks   = resp.data.bank;
        })
        .catch(function(resp){
         
        })
      },
      saveTransferBank() {
        if (this.$refs.form.validate()) {
          this.snackbar = true;
          var saldo = this.saldo;
          var bank  = this.selectedbank;
          var arr   = {
                'saldo'   : saldo,
                'bank_id' : bank,
          };
          
          axios.patch('topup/sv/transferbank', arr)
          .then((resp) => {
            this.$router.replace('/Topup/KonfirmasiBank');
          })
          .catch((resp) =>{
            if(resp.response.status == 500) alert('Something Goes Wrong');
            this.errors = resp.response.data.errors;
          });
        }
      },
      loader (nominal) {
        this.saldo = nominal
      },
      getValidPIN() {
          if (this.$refs.cekvalidToken.validate()) {
            var PIN   = this.PIN;

            var arr   = {
                'PIN'   : PIN,
            };
            
            axios.patch('/p/sv/pin/validate', arr)
            .then((resp) => {
              if (resp.data == 'error') {
                this.$message.error('Maaf, Pin Yang Anda Masukkan Salah');
              } else {
                this.saveTransferBank();
              }
              this.confirmdialog = false;
            })
            .catch((resp) =>{
                this.$message.error('Maaf, Pin Yang Anda Masukkan Salah');
            });
          }
      }
    },
}
</script>
