<template>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Dashboard</div>

                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
  
</script>
