<template>
  <v-app id="inspire" style="background:none">
    <v-dialog v-model="confirmdialog" persistent max-width="300px">
      <v-form
            ref="cekvalidToken"
            v-model="validToken"
            v-on:submit.prevent="getValidPIN()"
            lazy-validation
        >
      <v-card>
        <v-card-title>
          <span class="headline">
            Masukkan PIN
          </span>
        </v-card-title>
        <v-card-text>
              <v-flex xs12>
                <v-text-field label="PIN*" type="password" v-model="PIN" required autofocus maxlength='4'></v-text-field>
              </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="confirmdialog = false">Close</v-btn>
          <v-btn type="submit" color="green darken-1" flat >Confirm</v-btn>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-dialog>

    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md6>

            <v-card class="elevation-12">
               <v-form
                    ref="form"
                    v-model="valid"
                    v-on:submit.prevent="validRequest()"
                    lazy-validation
               > 
              <v-card-text>
                <h4>Request Money</h4>
                <p>Silahkan Masukkan Amount Balance dan Catatan .</p>

                <v-text-field
                    v-model="amount"
                    :rules="amountRules"
                    label="Enter Amount"
                    type="number"
                    required
                    ></v-text-field>

                <v-textarea
                    v-model="nota"
                    :rules="notaRules"
                    box
                    label="Note / Info"
                    auto-grow
                    ></v-textarea>

                <div style="text-align:center">
                    <v-btn type="submit"  round outline color="primary" dark >Share My QR Code</v-btn>
                </div>

              </v-card-text>
              </v-form>

            </v-card>
          

          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
    data: function() {
      return {
        valid       : true,
        url         : 'topup/transferbank',
        amount      : '',
        amountRules : [
            v => !!v || 'This Field is required',
        ],
        nota        : '',
        notaRules : [
            v => !!v || 'This Field is required',
        ],
        validToken : true,
        PIN        : '',
        confirmdialog : false,
        
      }
    },
    beforeCreate() {
      if (localStorage.getItem('reloaded')) {
          localStorage.removeItem('reloaded');
      } else {
          localStorage.setItem('reloaded', '1');
          location.reload();
      }
    },
    mounted()  {
     var app = this;
    },
    methods: {
      validRequest() {
        if (this.$refs.form.validate()) {
          this.confirmdialog = true;
        }
      },
      loader (nominal) {
        this.saldo = nominal
      },
      saveRequest() {
        if (this.$refs.form.validate()) {
          this.snackbar = true;
          var amount  = this.amount;
          var nota    = this.nota;
          var arr   = {
                'amount'   : amount,
                'nota' : nota,
          };
          
          axios.patch('/p/sv/request', arr)
          .then((resp) => {
            this.$router.replace('/request/Result');
          })
          .catch((resp) =>{
            if(resp.response.status == 500) alert('Something Goes Wrong');
            this.errors = resp.response.data.errors;
          });
        }
      },
      getValidPIN() {
          if (this.$refs.cekvalidToken.validate()) {
            var PIN   = this.PIN;

            var arr   = {
                'PIN'   : PIN,
            };
            
            axios.patch('/p/sv/pin/validate', arr)
            .then((resp) => {
              if (resp.data == 'error') {
                this.$message.error('Maaf, Pin Yang Anda Masukkan Salah');
              } else {
                this.saveRequest();
              }
              this.confirmdialog = false;
            })
            .catch((resp) =>{
                this.$message.error('Maaf, Pin Yang Anda Masukkan Salah');
            });
          }
      }
    },
}
</script>