<template>
  <v-app id="inspire" style="background:none;">
    <v-content>
      <v-container fluid >
        <v-layout justify-center>
          <v-flex xs12 sm8 md4>

            <v-card class="elevation-12">

                <v-card-text style="text-align:center;">
                    <h4>Request Balance</h4>
                    <h6> Rp. {{ formatPrice(amount) }} </h6>
                    <img :src="image" style="width:50%"> 
                    <br/><br/>
                    <h6>
                        Share This and Invite Them to scan QR code and start the transaction.
                    </h6>
                    <h6 style="margin:0">
                        Powered By
                    </h6>
                    <img :src="muslimpay">
                    <br/><br/>
                    <v-btn round outline color="primary" >
                        <a :href="image" color="primary" download="qrcode.png" >Share My QR Code</a>
                    </v-btn>
                    <br/>
                </v-card-text>

            </v-card>
            
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
    data: function() {
      return {
        url        : 'request/result',
        amount     : [],
        image      : [],
        muslimpay    : './images/logo_mp.png',
      }
    },
    mounted()  {
     var app = this;
      app.getResults();
    },
    methods: {
      getResults() {
        var app = this;
        axios.get(app.url)
        .then(function(resp){
            app.amount = resp.data.amount;
            app.image  = resp.data.barcode;
        })
        .catch(function(resp){
         
        })
      },
       downloadImage() {
           var app = this;
           let blob = new Blob([app.image], { type: 'image/png' })
            let link = document.createElement('a')
            link.href = window.URL.createObjectURL(blob)
            link.download = app.image;
            link.click()
      },
      formatPrice(value) {
        let val = (value/1).toFixed(0).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
    },
}

</script>
