<template>
<div class="container">
  	<div class="row" style="background-image: url(images/bg-user.png);background-repeat:repeat">
    <br/><br/>
      <div class="col-sm-12" align="center"><router-link :to="{name: 'IndexUser'}" >
      <img title="profile image" class="img-circle img-responsive" :src="pelanggansData.profile_picture" style="width:15%"></router-link></div>
      <div class="col-sm-12" align="center"><strong>{{ pelanggansData.nama }}</strong></div>
      <div class="col-sm-12" align="center"><strong>{{ pelanggansData.email }}</strong></div>
      <div class="col-sm-12" align="center"><strong>{{ pelanggansData.no_hp }}</strong></div>
      
    </div>
        <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center">
                  	
                  </div>
                </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted" style="color: #36bc71;"><strong>Profil</strong></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Bergabung</strong></span> {{ pelanggansData.created_at }}</li>
            <!-- <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> Yesterday</li> -->
            <li class="list-group-item text-right"><span class="pull-left"><strong>Location</strong></span> {{ pelanggansData.alamat }}</li>
            
          </ul> 
          <!-- <ul class="list-group">
            <li class="list-group-item text-muted" style="color: #36bc71;"><strong>Muslimpay</strong> <i class="fa fa-list-alt"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Wallet</strong></span> Rp1.000.000</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Saving</strong></span> Rp.5.600.500</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Total Transaction</strong></span> 12</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Poin Pahala</strong></span> 205 P</li>
          </ul>  -->
        </div><!--/col-3-->
		
    	<div class="col-sm-9">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">History Donasi</a></li>
            <li><a href="#messages" data-toggle="tab">Aqiqah</a></li>
            <li><a href="#settings" data-toggle="tab">Produk Islami</a></li>
          </ul>
              
          <div class="tab-content">
            <div class="tab-pane active" id="home" style="margin-top:10px">
              
              <div class="table-responsive">
                <v-client-table 
                    :data="tableData"
                    :columns="columns" 
                    :options="options">
                 <span slot="actions" slot-scope="{row}"> 
                    <button class="btn btn-xs btn-success" v-on:click="viewDetail(row.order_id)">View</button>
                </span>
                </v-client-table>
               <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                   
                <modal name="hello-world" height="auto" :scrollable="true">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      
                      <h4>Detail Pesanan</h4>
              
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td><i class="pull-right">{{ orderData.order_id }}</i> Order ID</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ moment(orderData.order_date).format('MMMM Do YYYY, h:mm:ss a') }}</i> Order Date</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right" >{{ pelanggansData.email }}</i>Email</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ orderData.nama_pemesan }}</i> Nama Pemesan</td>
                            </tr>
                            <tr>
                              <td v-if="orderData.order_status == 1"><i class="pull-right">Sudah Bayar</i> Status Pesanan</td>
                              <td v-else-if="orderData.order_status == 0"><i class="pull-right">Order Masuk</i> Status Pesanan</td>
                              <!-- <td v-else-if="orderData.order_status == 2"><i class="pull-right">Sudah Konfirmasi</i> Status Pesanan</td>
                              <td v-else><i class="pull-right">Selesai</i> Status Pesanan</td> -->
                              <td v-else><i class="pull-right">Selesai</i> Status Pesanan</td>
                            </tr>
                            
                              <tr v-for="payment in orderData.payments" :key="payment.id">
                                <td>
                                  <button class="btn btn-xs btn-danger pull-right" v-on:click="popup(payment.bukti_pembayaran)">View</button>Bukti Transfer
                                </td>
                            
                              </tr>
                            
                              <!-- <tr v-else>
                                <td v-else><i class="pull-right">Tidak ada</i> Bukti Transfer</td>
                              </tr> -->
                          </tbody>
                        </table>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <td><b>Campaign</b></td>
                              <td><b>Lokasi</b></td>
                              <td><b>Jumlah</b></td>
                            </tr>
                          </thead>
                          <tbody v-for="campaign in orderData.campaign">
                            <tr>
                                <td><i>{{ campaign.campaign_title }}</i></td>
                                <td v-for="kota in orderData.city"><i>{{ kota.name }}</i></td>
                                <td><i>{{ orderData.total_nominal | numeral('0,0') }}</i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      
                    </div>
                  </div>
                </modal>
                <hr>
                <!-- <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center">
                  	<ul class="pagination" id="myPager"></ul>
                  </div>
                </div> -->
              </div><!--/table-resp-->
              
              <!-- <hr> -->
              
              <!-- <h4>Recent Activity</h4>
              
              <div class="table-responsive">
                <table class="table table-hover">
                  
                  <tbody>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Jeff Manzi comment your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:23 - Mark Friendo liked and shared your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:20 - You posted a new blog entry title "Why social media is".</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Yesterday - Karen P. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Philip W. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Jeff Manzi liked your post.</td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
              
             </div><!--/tab-pane-->

             <div  id="messages" class="tab-pane" style="margin-top:10px">
                 <div class="table-responsive">
                    <v-client-table 
                        :data="tableAqiqah"
                        :columns="columns" 
                        :options="options">
                      <span slot="actions" slot-scope="{row}"> 
                          <button class="btn btn-xs btn-success" v-on:click="viewDetailAqiqah(row.order_id)">View</button>
                      </span>
                    </v-client-table>
                    <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                  </div>
                </div>

                <modal name="detailAqiqah" height="auto" :scrollable="true">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      
                      <h4>Detail Pesanan</h4>
              
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td><i class="pull-right">{{ orderData.id }}</i> Order ID</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ moment(orderData.tgl_pesan).format('MMMM Do YYYY, h:mm:ss a') }}</i> Order Date</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ pelanggansData.email }}</i>Email</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ orderData.nama_pemesan }}</i> Nama Pemesan</td>
                            </tr>
                            <tr>
                              <td v-if="orderData.status == 1"><i class="pull-right">Sudah Bayar</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 0"><i class="pull-right">Order Masuk</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 2"><i class="pull-right">Sudah Bayar</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 3"><i class="pull-right">Pesanan diproses</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 4"><i class="pull-right">On Delivery</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 5"><i class="pull-right">Delivered</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 6"><i class="pull-right">Pesanan ditolak</i> Status Pesanan</td>
                              <td v-else><i class="pull-right">Selesai</i> Status Pesanan</td>
                            </tr>
                            
                              <tr v-for="payment in orderData.payments" :key="payment.id">
                                <td>
                                  <button class="btn btn-xs btn-danger pull-right" v-on:click="popup(payment.bukti_pembayaran)">View</button>Bukti Transfer
                                </td>
                              </tr>
                            
                              <!-- <tr v-else>
                                <td v-else><i class="pull-right">Tidak ada</i> Bukti Transfer</td>
                              </tr> -->
                          </tbody>
                        </table>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <td><b>Paket</b></td>
                              <td><b>Harga</b></td>
                              <td><b>Qty</b></td>
                              <td><b>Diskon</b></td>
                              <td><b>Subtotal</b></td>
                            </tr>
                          </thead>
                          <tbody v-for="paket in orderData.paket">
                            <tr>
                                <td><i>{{ paket.nama_paket }}</i></td>
                                <td><i>{{ paket.harga | numeral('0,0') }}</i></td>
                                <td><i>{{ paket.qty }}</i></td>
                                <td><i>{{ paket.discount | numeral('0,0') }}</i></td>
                                <!-- <td v-for="kota in orderData.city"><i>{{ kota.name }}</i></td> -->
                                <td><i>{{ paket.subtotal_after_all | numeral('0,0') }}</i></td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="3">Total</td>
                              <td>{{ total_diskon | numeral('0,0') }}</td>
                              <td>{{ orderData.grand_total | numeral('0,0') }}</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      
                    </div>
                  </div>
                </modal>

               <!-- <ul class="list-group">
                  <li class="list-group-item text-muted">Inbox</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  
                </ul>  -->
               
             <div id="settings" class="tab-pane" style="margin-top:10px">
            		
                 <div class="table-responsive">
                    <v-client-table 
                        :data="tableIslamic"
                        :columns="columns" 
                        :options="options">
                      <span slot="actions" slot-scope="{row}"> 
                          <button class="btn btn-xs btn-success" v-on:click="viewDetailIslamic(row.order_id)">View</button>
                      </span>
                    </v-client-table>
                    <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                  </div>
                </div>

                <modal name="detailIslamic" height="auto" :scrollable="true">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      
                      <h4>Detail Pesanan</h4>
              
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td><i class="pull-right">{{ orderData.order_id }}</i> Order ID</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ moment(orderData.order_date).format('MMMM Do YYYY, h:mm:ss a') }}</i> Order Date</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ pelanggansData.shippping_resi }}</i>No Resi</td>
                            </tr>
                            <tr>
                              <td><i class="pull-right">{{ orderData.nama_pemesan }}</i> Nama Pemesan</td>
                            </tr>
                            <tr>
                              <td v-if="orderData.status == 1"><i class="pull-right">Sudah Bayar</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 0"><i class="pull-right">Order Masuk</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 2"><i class="pull-right">Sudah Bayar</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 3"><i class="pull-right">Pesanan diproses</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 4"><i class="pull-right">On Delivery</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 5"><i class="pull-right">Delivered</i> Status Pesanan</td>
                              <td v-else-if="orderData.status == 6"><i class="pull-right">Pesanan ditolak</i> Status Pesanan</td>
                              <td v-else><i class="pull-right">Selesai</i> Status Pesanan</td>
                            </tr>
                            
                              <tr v-for="payments in orderData.payment" :key="payments.id">
                                <td>
                                  <button class="btn btn-xs btn-danger pull-right" v-on:click="popup(payments.bukti_pembayaran)">View</button>Bukti Transfer
                                </td>
                            
                              </tr>
                            
                              <!-- <tr v-else>
                                <td v-else><i class="pull-right">Tidak ada</i> Bukti Transfer</td>
                              </tr> -->
                          </tbody>
                        </table>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <td><b>Paket</b></td>
                              <td><b>Harga</b></td>
                              <td><b>Qty</b></td>
                              <td><b>Diskon</b></td>
                              <td><b>Subtotal</b></td>
                            </tr>
                          </thead>
                          <tbody v-for="paket in orderData.order_item">
                            <tr>
                                <td><i>{{ paket.produk_name }}</i></td>
                                <td><i>{{ paket.price | numeral('0,0') }}</i></td>
                                <td><i>{{ paket.qty }}</i></td>
                                <td><i>{{ paket.discount | numeral('0,0') }}</i></td>
                                <!-- <td v-for="kota in orderData.city"><i>{{ kota.name }}</i></td> -->
                                <td><i>{{ paket.subtotal_after_all | numeral('0,0') }}</i></td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="3">Total</td>
                              <td>{{ total_diskon | numeral('0,0') }}</td>
                              <td>{{ orderData.grand_total | numeral('0,0') }}</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      
                    </div>
                  </div>
                </modal>
               	
                  <hr>
                  <!-- <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h5>First name</h5></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h5>Last name</h5></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h5>Phone</h5></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h5>Mobile</h5></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h5>Email</h5></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h5>Location</h5></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h5>Password</h5></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h5>Verify</h5></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form> -->
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->


</div>

</template>


<script>
import moment from 'moment';
  export default {
    data: function() {
      return {
        pelanggans: [],
        pelanggansData: {},
        orderData:{},
        order_id:'',
        total_diskon: 0,
        url: window.location.origin + (window.location.pathname).replace("home","transaction"),
        url2: window.location.origin +this.$route.path,
        // url2: this.$route.path,
        resource_url:  this.$route.path+'/view',
        pencarian: '',
        loading: true,
        // moment: moment,
        columns: ['order_id', 'order_date', 'total_nominal', 'order_status','actions'],
        tableData: [],
        tableAqiqah: [],
        tableIslamic: [],
        options: {
          headings: {
              order_id: 'ID',
              order_date: 'ORDER DATE',
              total_nominal: 'TOTAL NOMINAL',
              order_status: 'ORDER STATUS',
              actions: 'DETAIL'
          },
          sortable: ['order_id', 'order_date'],
          filterable: ['order_id', 'order_date']
        }
      }
    },
    mounted()  {
     var app = this;
    // app.getResults();
    app.getHistory();
    app.getProfile();
    app.getOrderAqiqah();
    app.getOrderIslamic();
    },
    watch: {
       pencarian: function(newSearch){
         this.getHasilPencarian();
       }
    },
    methods: {
      moment: function () {
        return moment();
      },
      viewDetailAqiqah: function (orderID) {
        this.getDetailOrder(orderID);
        this.$modal.show('detailAqiqah');
        // alert('Hello ' + orderID + '!')
      },
      viewDetailIslamic: function (orderID) {
        this.getDetailOrder(orderID);
        this.$modal.show('detailIslamic');
        // alert('Hello ' + orderID + '!')
      },
      viewDetail: function (orderID) {
        this.getDetailOrder(orderID);
        this.$modal.show('hello-world');
        // alert('Hello ' + orderID + '!')
      },

      getDetailOrder(orderID){
       var app = this;
        axios.get(app.url2 + '/get_order_by?id='+ orderID)
        .then(function(res){
          // app.pelanggans = res.data.data;
          app.orderData = res.data;
          if(res.data.paket) {
            res.data.paket.forEach(function (value) {
              app.total_diskon = app.total_diskon + value.discount
            });
          }
         
          // console.log(res.data);
          // app.pelanggansData = res;
          // console.log(res.data.data);
          // app.rows = res.data;
          app.loading = false;
        })
        .catch(function(res){
          // console.log(res);
          app.loading = false;
        })
      },

      getProfile(){
        var app = this;
        axios.get(app.url2 + '/get_profile')
        .then(function(res){
          // app.pelanggans = res.data.data;
          app.pelanggansData = res.data.data;
          console.log(res.data);
          // app.pelanggansData = res;
          // console.log(res.data.data);
          // app.rows = res.data;
          app.loading = false;
        })
        .catch(function(res){
          // console.log(res);
          app.loading = false;
        })
      },
       getOrderIslamic(data){
        var app = this;
      
        axios.get(app.url2 + '/view/islamic')
        .then(function(res){
          // app.pelanggans = res.data.data;
          app.tableIslamic = res.data;
          // app.pelanggansData = res;
          // console.log(res.data.data);
          // app.rows = res.data;
          app.loading = false;
        })
        .catch(function(res){
          // console.log(res);
          app.loading = false;
        })
      },
      getOrderAqiqah(data){
        var app = this;
      
        axios.get(app.url2 + '/view/aqiqah')
        .then(function(res){
          // app.pelanggans = res.data.data;
          app.tableAqiqah = res.data;
          // app.pelanggansData = res;
          // console.log(res.data.data);
          // app.rows = res.data;
          app.loading = false;
        })
        .catch(function(res){
          // console.log(res);
          app.loading = false;
        })
      },
      getHistory(data){
        var app = this;
      
        axios.get(app.url2 + '/view')
        .then(function(res){
          // app.pelanggans = res.data.data;
          app.tableData = res.data;
          // app.pelanggansData = res;
          // console.log(res.data.data);
          // app.rows = res.data;
          app.loading = false;
        })
        .catch(function(res){
          // console.log(res);
          app.loading = false;
        })
      },
      popup(url) {
        window.open(url, '_blank');
      },
      getResults(page){
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url2 + '/view?page=' + page)
        .then(function(resp){
          app.pelanggans = resp.data.data;
          app.pelanggansData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;

        })
      },
      getHasilPencarian(page){

        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/search?q='+app.pencarian+'&page=' + page)
        .then(function(resp){
          app.pelanggans = resp.data.data;
          app.pelanggansData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;

        })
      },
      deleteEntry(id,index,namaPelanggan){
          axios.delete(this.url + '/' + id)
          .then((resp) => {
            this.getResults();
            this.alert("Berhasil Menghapus","Berhasil Menghapus Pelanggan " + namaPelanggan);
          })
          .catch((resp) =>{
            alert("Something Goes Wrong")
            console.log(resp);
          })
      },
      konfirmasiHapus(id,index,namaPelanggan){

        this.$swal({
          title: "Yakin Ingin Menghapus Pelanggan " + namaPelanggan + "?",
          text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteEntry(id,index,namaPelanggan);
          }
        })
      },
      alert(title,pesan){
        this.$swal({
          title: title,
          text: pesan,
          icon: "success"
        });
      }
    }
  }

</script>
