<template>

<div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-info">
              <div class="panel-heading">Setting Pin</div>

              <div class="panel-body">
                  <div class="col-md-3">
                    <img v-bind:src="user.profile_picture" class="img-thumbnail"/>
                  </div>
                  <div class="col-md-9" id="content-body-profile">
                      <form id="form-profile" v-on:submit.prevent="savePin()" class="form-horizontal">
                        <div class="row">
                          <h4>Setting Pin</h4>
                          <div>
                              <v-alert
                              :value="true"
                              color="info"
                              icon="info"
                              outline
                              style="color:#2196f3!important;caret-color:#2196f3!important"
                              >
                              Setting Pin Anda Untuk Bisa Menggunakan Transaksi Muslimpay.
                              </v-alert>
                          </div>
                        
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="pin">Pin</label>
                              <input type="password" class="form-control" placeholder="Masukkan Pin" v-model="pin" maxlength="4">
                              <span v-if="errors.pin" class="label label-danger"> {{ errors.pin[0]}}</span>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="konfirmasipin">Konfirmasi Pin</label>
                              <input type="password" class="form-control" placeholder="Masukkan Konfirmasi Pin" v-model="konfirmasipin" maxlength="4">
                              <span v-if="errors.konfirmasipin" class="label label-danger"> {{ errors.konfirmasipin[0]}}</span>
                            </div>
                          </div>
                        </div>

                        <v-card-actions style="text-align:right">
                            <v-spacer></v-spacer>
                            <v-btn @click="back" color="error" round dark style="background-color:#ff5252!important;border-color:#ff5252!important">
                                <v-icon dark left>arrow_back</v-icon> Back
                            </v-btn>
                            <v-btn type="submit" color="success" round dark style="background-color:#4caf50!important;border-color:#4caf50!important">
                              Save &nbsp;<i class="material-icons">save</i>
                            </v-btn>
                        </v-card-actions>
                      </form>
                  </div>
              </div>

          </div>
      </div>
    </div>
</div>

</template>


<script>
  export default {
    data: function() {
      return {
        url: "user/index",
        getbase64 : [],
        user : {
          profile_picture: [],
        },
        errors : [],
        message: '',
        pin: [],
        konfirmasipin: [],
        loader: null,
        loading: false,
      }
    },
    mounted()  {
     var app = this;
      axios.get('user/showEdit')
      .then((resp) => {
        this.user =  resp.data;
      })
      .catch((resp) => {
        alert("Something Goes Wrong");    
      });
    },
    methods: {
      savePin() {
        var pin            = this.pin;
        var konfirmasipin  = this.konfirmasipin;

        var arr   = {
          'pin'           : pin,
          'konfirmasipin' : konfirmasipin,
        };
        
        axios.patch('/p/sv/pin', arr)
        .then((resp) => {
          this.$notify({
            title: 'Success',
            message: 'Setting Pin Berhasil Dilakukan',
            type: 'success'
          });
          this.$router.replace('/p/user/settingpin');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
        });
      },
      back() {
        this.$router.replace('/user');
      },
    }
  }

</script>
