<template>

<div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-info">
              <div class="panel-heading">User Profile</div>

              <div class="panel-body">
                  <div class="col-md-3">
                    <img v-bind:src="profile_picture" class="img-thumbnail"/>
                  </div>
                  <div class="col-md-9" id="content-body-profile">
                      <h4>{{nama}}</h4>
                      <small>
                          <cite v-bind:title="alamat">{{alamat}}
                            <i class="glyphicon glyphicon-map-marker"></i>
                          </cite>
                      </small>
                      <div class="form-group">
                            <em class="fa fa-envelope"> {{email}}</em><br/>
                            <em class="fa fa-phone"> &nbsp;{{no_hp}}</em><br/>
                            <em class="fa fa-gift"> {{tgl_lahir}}</em><br/>
                      </div>
                      <div class="form-group" style="margin-left:-10px">
                            <router-link :to="{name:'EditUser' ,params:{id: user_id}}">
                              <el-button type="success" 
                              style="background-color:#4caf50!important;border-color:#4caf50!important">
                                <em class="fa fa-edit"> Edit Profile</em>
                              </el-button>
                            </router-link>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

</template>


<script>

  function formatDate(date) {
    var monthNames = [
      "January", "February", "March",
      "April", "May", "June", "July",
      "August", "September", "October",
      "November", "December"
    ];

    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();

    return day + ' ' + monthNames[monthIndex] + ' ' + year;
  }

  export default {
    data: function() {
      return {
        nama: [],
        email: [],
        alamat: [],
        user_id: {},
        profile_picture: [],
        tgl_lahir: [],
        jenis_kelamin: [],
        no_hp: [],
        usersData: {},
        url: "user/index",
      }
    },
    mounted()  {
     var app = this;
      app.getResults();
    },
    methods: {
      getResults(page){
        var app = this;
        axios.get(app.url)
        .then(function(resp){
          if (resp.data.profile_picture === 'https://cloud.muslimapp.id/public/user/') {
              resp.data.profile_picture = './images/skleton.png'
          }

          app.profile_picture = resp.data.profile_picture;
          app.nama            = resp.data.nama;
          app.email           = resp.data.email;
          app.alamat          = resp.data.alamat;
          app.user_id         = resp.data.user_id;
          app.jenis_kelamin   = resp.data.jenis_kelamin;
          var datenew         = new Date(resp.data.tgl_lahir);
          app.tgl_lahir       = formatDate(datenew);
          app.no_hp           = resp.data.no_hp;
          
        })
        .catch(function(resp){
         
        })
      },
    }
  }

</script>
