<template>

<div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-info">
              <div class="panel-heading">User Profile</div>

              <div class="panel-body">
                  <div class="col-md-3">
                    <img v-bind:src="user.profile_picture" class="img-thumbnail"/>
                  </div>
                  <div class="col-md-9" id="content-body-profile">
                      <form id="form-profile" v-on:submit.prevent="saveProfile()" class="form-horizontal">
                        <div class="row">
                          <div class="col-md-5">
                              <div class="form-group">
                                <label for="nama">Nama Lengkap *</label>
                                <input type="text" class="form-control" v-bind:required="true" v-model="user.nama" placeholder="Nama Lengkap">
                                <span v-if="errors.nama" class="label label-danger"> {{ errors.nama[0]}}</span>
                              </div>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-5">
                              <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" v-bind:required="true" v-model="user.email" placeholder="email@email.com">
                                <span v-if="errors.email" class="label label-danger"> {{ errors.email[0]}}</span>
                              </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="no_hp">No Handphone *</label>
                              <input type="text" class="form-control" v-bind:required="true" v-model="user.no_hp">
                              <span v-if="errors.no_hp" class="label label-danger"> {{ errors.no_hp[0]}}</span>
                            </div>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="tgl_lahir">Tanggal Lahir *</label>
                              <input type="date" class="form-control" v-bind:required="true" v-model="user.tgl_lahir">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="jenis_kelamin">Jenis Kelamin *</label> 
                              <select class="form-control" v-bind:required="true" v-model="user.jenis_kelamin">
                                <option v-for="option in options" :key="option.value" v-bind:value="option.value">
                                  {{ option.text }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="photo">Photo Profile</label>
                              <input type="file" id="myFiles" ref="myFiles" @change="onFileChange" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-11">
                            <div class="form-group">
                              <label for="formGroupExampleInput2">Alamat *</label>
                              <textarea class="form-control" v-bind:required="true" id="alamat" rows="4" v-model="user.alamat"></textarea>
                              <span v-if="errors.alamat" class="label label-danger"> {{ errors.alamat[0]}}</span>
                            </div>
                          </div>
                          <div class="col-md-1"></div>
                        </div>

                        <h4>Ubah Password</h4>
                          
                        <div class="row">
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                              <span v-if="errors.password" class="label label-danger"> {{ errors.password[0]}}</span>
                            </div>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="konfirmasipassword">Konfirmasi Password</label>
                              <input type="password" class="form-control" placeholder="Konfirmasi Password" v-model="user.konfirmasipassword">
                              <span v-if="errors.konfirmasipassword" class="label label-danger"> {{ errors.konfirmasipassword[0]}}</span>
                            </div>
                          </div>
                        </div>

                        <v-card-actions style="text-align:right">
                            <v-spacer></v-spacer>
                            <el-button @click="back" type="danger">
                              <v-icon dark left>arrow_back</v-icon> Back
                            </el-button>
                            <el-button type="success" native-type="submit"
                            style="background-color:#4caf50!important;border-color:#4caf50!important">
                              Save &nbsp; <v-icon dark left>save</v-icon>
                            </el-button>
                        </v-card-actions>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

</template>


<script>
  export default {
    data: function() {
      return {
        user : {
          nama: [],
          email: [],
          alamat: [],
          user_id: [],
          jenis_kelamin: [],
          profile_picture: [],
          tgl_lahir: [],
          no_hp: [],
          password: [],
          konfirmasipassword: [],
        },
        options: [
          { text: 'Laki - Laki', value: 'L' },
          { text: 'Perempuan', value: 'P' },
        ],
        url: "user/index",
        url2 : 'https://muslimapp.id/accounts' +this.$route.path,
        getbase64 : [],
        errors : [],
        message: ''
      }
    },
    mounted()  {
     var app = this;
      this.userId = this.$route.params.id;
      axios.get('user/showEdit')
      .then((resp) => {
        this.user =  resp.data;
      })
      .catch((resp) => {
        alert("Something Goes Wrong");    
      });
    },
    methods: {
      onFileChange(e) {
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
        return;
        this.createImage(files[0]);
      },
      createImage(file) {
          var image = new Image();
          var reader = new FileReader();
          
          reader.onload = e => {
            var   tmp       = [];
            const dataURL   = tmp.push(e.target.result);
            var urlbase     = 'user/base64profile';
            
            axios.patch(urlbase, tmp)
              .then((resp) => {
                this.profile_picture = resp.data;
              })
              .catch((resp) =>{
                if(resp.response.status == 500) alert('Something Goes Wrong');
            });
          };
          
          reader.readAsDataURL(file);

      },
      saveProfile() {
        var newUser = this.user;
        axios.patch('user' + '/' + this.userId + '/edit', newUser)
        .then((resp) => {
          this.$router.replace('/user');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
        });
      },
      back() {
        this.$router.replace('/user');
      }
    }
  }

</script>
