<template>
  <v-app id="inspire" style="background:none;">
    <v-content>
      <v-container fluid >
        <v-layout justify-center>
          <v-flex xs12 sm8 md4>

            <v-card class="elevation-12">

                <v-card-text style="text-align:center;">
                    <h4>Transaction Successfully</h4>
                    <h6> Rp. {{ formatPrice(amount) }} </h6>
                    <img :src="image" style="width:40%"> 
                    <br/><br/>
                    <h6>
                        Transfer / Pay is Successfully, Thank you for using Muslimpay Service.
                    </h6>
                    <h6 style="margin:0">
                        Powered By
                    </h6>
                    <img :src="muslimpay">
                    <br/><br/>
                    <v-btn round outline :to="{name: 'IndexTransaction'}" color="success" dark >Halaman Utama</v-btn>
                    <br/>
                </v-card-text>

            </v-card>
            
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
    data: function() {
      return {
        url        : '/p/result/trf/rst',
        amount     : [],
        image      : './images/success.gif',
        muslimpay  : './images/logo_mp.png',
      }
    },
    mounted()  {
     var app = this;
      app.getResults();
    },
    methods: {
      getResults() {
        var app = this;
        axios.get(app.url)
        .then(function(resp){
            app.amount = resp.data.amount;
        })
        .catch(function(resp){
         
        })
      },
      formatPrice(value) {
        let val = (value/1).toFixed(0).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
    },
}

</script>
