<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<template>
  <v-app id="inspire" style="background:none">
    <v-dialog v-model="confirmdialog" persistent max-width="300px">
      <v-form
            ref="cekvalidToken"
            v-model="validToken"
            v-on:submit.prevent="getValidPIN()"
            lazy-validation
        >
      <v-card>
        <v-card-title>
          <span class="headline">
            Masukkan PIN
          </span>
        </v-card-title>
        <v-card-text>
              <v-flex xs12>
                <v-text-field label="PIN*" type="password" v-model="PIN" required autofocus maxlength='4'></v-text-field>
              </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="confirmdialog = false">Close</v-btn>
          <v-btn type="submit" color="green darken-1" flat >Confirm</v-btn>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-dialog>

    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md6>

            <v-card class="elevation-12">
               <v-form
                    ref="form"
                    v-model="valid"
                    v-on:submit.prevent="validTransfer()"
                    lazy-validation
               > 
              <v-card-text>
                <h4>Transfer / Pay</h4>
                <p>Silahkan Lakukan Scan QR Code Terlebih Dahulu.</p>

                <v-text-field
                    v-model="toUsername"
                    :rules="useridRules"
                    label="Sender"
                    type="text"
                    required
                    disabled
                    ></v-text-field>

                <v-text-field
                    v-model="amount"
                    :rules="amountRules"
                    label="Amount Transfer"
                    type="number"
                    required
                    disabled
                    ></v-text-field>

                <v-expansion-panel v-model="panel" expand>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>
                        <i class="material-icons">image_search</i> Scan QR Code
                      </div>
                    </template>
                    <v-card>
                      <v-card-text>
                        <qrcode-stream v-model="qrcode" :rules="qrcodeRules" @decode="onDecode" ref="webcam" 
                        :device-id="deviceId"
                            width="100%"
                            height="250" />
                      </v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>

                <br/><br/>
                 <div style="text-align:center">
                   <div v-if="amount">
                     <v-btn 
                     :loading="loading"
                     @click="loader = 'loading'"
                     type="submit" round outline color="primary" dark >Process</v-btn>
                   </div>
                   <div v-else>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-btn type="submit" v-on="on" round outline color="primary" dark >Process</v-btn>
                      </template>
                      <span>Please Scan QR Code First to go to The Next Process</span>
                    </v-tooltip>
                  </div>
                </div>

              </v-card-text>
               </v-form>

              <v-card-actions>
              </v-card-actions>
            </v-card>
            
            <v-dialog v-model="dialog" persistent max-width="290">
              <v-card>
                <v-card-title color="red darken-2" class="headline">Oops !!</v-card-title>
                <v-card-text>
                  <div style="text-align:center;">
                    <v-icon large color="red darken-2" style="font-size:100px">sync_problem</v-icon>
                    <h6> 
                      Maaf QR Code Anda Sudah Tidak Bisa Digunakan, Dikarenakan Sudah Ada Transaksi Sebelumnya. 
                    </h6>
                  </div>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-2" flat @click="dialog = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

          </v-flex>
        </v-layout>

      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { WebCam } from "vue-web-cam";
import { find, head } from "lodash";

export default {
    components: {
      WebCam
    },
    data: function() {
      return {
        panel       : [false],
        valid       : true,
        validToken : true,
        PIN        : '',
        confirmdialog : false,
        dialog      : false,
        url         : 'topup/transferbank',
        amount      : '',
        toUsername  : '',
        orderID     : '',
        amountRules : [
            v => !!v || 'This Field is required',
        ],
        useridRules : [
            v => !!v || 'This Field is required',
        ],
        qrcode     : '',
        qrcodeRules : [
            v => !!v || 'This Field is required',
        ],
        img: null,
        camera: null,
        deviceId: null,
        loader: null,
        loading: false,
        devices: [],
        items: [
          {
            action: 'image_search',
            title: 'Scan QR Code',
            items: [
              { title: 'List Item' }
            ]
          },
        ],
      }
    },
    beforeCreate() {
      if (localStorage.getItem('reloaded')) {
          localStorage.removeItem('reloaded');
      } else {
          localStorage.setItem('reloaded', '1');
          location.reload();
      }
    },
    computed: {
      device: function() {
        return find(this.devices, n => n.deviceId == this.deviceId);
      }
    },
    watch: {
      camera: function(id) {
        this.deviceId = id;
      },
      devices: function() {
        // Once we have a list select the first one
        let first = head(this.devices);
        if (first) {
          this.camera = first.deviceId;
          this.deviceId = first.deviceId;
        }
      },
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      }
    },
    methods: {
      validTransfer() {
        if (this.$refs.form.validate()) {
          this.confirmdialog = true;
        }
      },
      onDecode (decodedString) {
        var app = this;
        var dataDecode  = JSON.parse(decodedString);
        
        var arr   = {
              'username' : dataDecode.username,
        };

        axios.patch('/p/decode/username/trf', arr)
        .then((resp) => {
          app.toUsername = resp.data;
          app.panel      = [false];
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
        });

        app.amount      = dataDecode.amount;
        app.orderID     = dataDecode.order_id;
      },
      getValidPIN() {
          if (this.$refs.cekvalidToken.validate()) {
            var PIN   = this.PIN;

            var arr   = {
                'PIN'   : PIN,
            };
            
            axios.patch('/p/sv/pin/validate', arr)
            .then((resp) => {
              if (resp.data == 'error') {
                this.$message.error('Maaf, Pin Yang Anda Masukkan Salah');
              } else {
                this.saveTransfer();
              }
              this.confirmdialog = false;
            })
            .catch((resp) =>{
                this.$message.error('Maaf, Pin Yang Anda Masukkan Salah');
            });
          }
      },
      saveTransfer() {
        if (this.$refs.form.validate()) {
          this.snackbar = true;
          var amount    = this.amount;
          var username  = this.toUsername;
          var orderID   = this.orderID;

          var arr   = {
                'amount'   : amount,
                'username' : username,
                'orderID'  : orderID,
          };
          
          axios.patch('/p/sv/transfer/pay', arr)
          .then((resp) => {
            if(resp.data == 'error') {
              this.dialog  = true;
            } else {
              this.$router.replace('/transfer/pay/scan/Result');
            }
          })
          .catch((resp) =>{
            if(resp.response.status == 500) alert('Something Goes Wrong');
            this.errors = resp.response.data.errors;
          });
        }
      },
      onCapture() {
        this.img = this.$refs.webcam.capture();
      },
      onStarted(stream) {
        console.log("On Started Event", stream);
      },
      onStopped(stream) {
        console.log("On Stopped Event", stream);
      },
      onStop() {
        this.$refs.webcam.stop();
      },
      onStart() {
        this.$refs.webcam.start();
      },
      onError(error) {
        console.log("On Error Event", error);
      },
      onCameras(cameras) {
        this.devices = cameras;
        console.log("On Cameras Event", cameras);
      },
      onCameraChange(deviceId) {
        this.deviceId = deviceId;
        this.camera = deviceId;
        console.log("On Camera Change Event", deviceId);
      }
    },
}
</script>